.videos-container {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
}

.video-card {
  background-color: #495057;
  color: white;
  margin: 2rem 1rem;
  height: 30rem;
  width: 30rem;
}
.video-card:hover {
  background-color: #42484f;
  cursor: pointer;
}
.vid-thumbnail {
  object-fit: cover;
}
.vid-title {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 0.5rem;
}
.vid-details {
  /* color: #ced4da; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  margin-left: 5px;
  margin-right: 5px;
}
.vid-services {
  width: 50%;
  font-size: 2rem;
  margin-left: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.creator {
  color: #ced4da;
  margin-left: 5px;
}
.title {
  font-weight: 500;
  font-size: 1.7rem;
  margin-left: 5px;
}
.typography-h6 {
  display: flex;
  justify-content: space-between;
}

/* video services icons */
.liked-clicked,
.watchLater-clicked {
  background-color: var(--video-card-bg);
  border: none;
  color: white;
  padding: 0;
  margin: 0;
}

on-btn {
  color: white;
}
.liked-clicked:hover,
.watchLater-clicked:hover {
  background-color: #42484f;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.modal-component {
  background-color: var(--background-color);
  height: 40%;
  width: 20%;
  position: absolute;
  left: 45%;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-playlist {
  display: flex;
  justify-content: space-evenly;
}
.modal-close {
  font-size: 2rem;
}
.modal-close:hover {
  cursor: pointer;
}
.modal-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playlist-name-input {
  height: 2.5rem;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.btn-create-modal {
  border-radius: 5px;
  font-size: 1.5rem;
  height: 15%;
  width: 60%;
}
.btn-create-modal:hover {
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  color: var(--text-color);
}
