.page-active {
  background-color: var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
}

.sidebar-item {
  display: flex;
  justify-items: center;
  align-content: center;

  margin: 0 1rem 1rem 3.9rem;
  margin: 0 1rem 1rem 1rem;
  padding: 0.8rem;
  text-align: left;
  width: 20rem;
}

.sidebar-item:hover {
  background-color: var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
}
.sidebar-icon {
  margin-right: 1rem;
}

.sidebar-name {
  font-size: 1.8rem;
}
