@import url("https://falcon-ui-zoya.netlify.app/styles.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
input,
textarea,
button {
  font-family: "Inter", sans-serif;
}

li {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 190%;
  background-color: var(--colour-black-one);
  color: var(--colour-text-white);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: var(--text);
}

img,
picture {
  max-width: 100%;
  display: block;
}

:root {
  --primary-color: #f72585;
  --secondary-color: #ff4d6d;
  --background-color: #f8f9fa;
  --light-theme-color: #000000;
  --navigation-container-shadow: #6c757d;
  --navigation-color: #212529;
  --desktop-searchbar-bg: #e9ecef;
  --desktop-searchbar-border: #f7f7f7;
  --card-shadow: #adb5bd;
  --form-bg-color: #ffffff;
  --form-input-border-color: #ced4da;
  --login-signup-page: #f3ebeb;
  --login-btn-border: #fb6376;
  --login-btn-bg-color-hover: #e63961;
  --footer-bg-color: #023047;
  font-size: 62.5%;
}

body {
  /* neog */
  background-color: #1a202c;
  /* bhushan */
  /* background-color: #232323; */

  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.navigation-container {
  border-bottom-left-radius: 0px;
  background-color: #1a202c;
  display: flex;
  justify-content: space-between;
}
