@import url("https://falcon-ui-zoya.netlify.app/styles.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
input,
textarea,
button {
  font-family: "Inter", sans-serif;
}

li {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 190%;
  background-color: var(--colour-black-one);
  color: var(--colour-text-white);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: var(--text);
}

img,
picture {
  max-width: 100%;
  display: block;
}

:root {
  --primary-color: #f72585;
  --secondary-color: #ff4d6d;
  --background-color: #1a202c;
  --text-color: #f8f9fa;
  --explore-background: #343a40;
  --video-card-bg: #495057;
  --light-theme-color: #000000;
  --navigation-container-shadow: #6c757d;
  --navigation-color: #212529;
  --desktop-searchbar-bg: #e9ecef;
  --desktop-searchbar-border: #f7f7f7;
  --card-shadow: #adb5bd;
  --form-bg-color: #ffffff;
  --form-input-border-color: #ced4da;
  --login-signup-page: #f3ebeb;
  --login-btn-border: #fb6376;
  --login-btn-bg-color-hover: #e63961;
  --footer-bg-color: #023047;
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.flex-jus-al {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-container {
  background-color: var(--background-color);
  border-bottom-left-radius: 0px;
  display: flex;
  justify-content: space-between;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* login-signup */
.login-signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-form {
  height: 50rem;
  width: 50rem;
  object-fit: cover;
}
.login-signup-form {
  background-color: var(--explore-background);
  border-radius: 10px;
  width: 35%;
  text-align: center;
}
.form-heading {
  color: var(--text-color);
  font-size: 3rem;
}

.page-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.page-title {
  margin-left: 1rem;
  letter-spacing: 2px;
}
.no-content-section {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 42%;
}

.no-content-section > p {
  font-size: 2rem;
}
.no-btn {
  background-color: #343a40;
  background-color: #282c34;

  border: 1px solid var(--primary-color);
  color: white;
  margin-top: 2rem;
}
.no-btn:hover {
  /* background-color: #212529; */
  background-color: #212529;
  border: 1.5px solid var(--primary-color);

  /* border: 1px solid white; */
}
