.btn-explore {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  cursor: pointer;
  font-size: 2rem;
  height: 5rem;
  width: 100%;
  margin-bottom: 4rem;
  padding: 3px 20px;
}

.btn-explore:hover {
  transform: background 1s ease 1s;
}

.categories {
  color: var(--text-color);
  margin-top: 2rem;
}

.category-item {
  height: 40vh;
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-img {
  object-fit: cover;
  border-radius: 10px;
}

.category-item:hover {
  cursor: pointer;
  opacity: 0.8;
}

.category-title {
  color: var(--text-color);
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 5px;
  position: absolute;
}
.category-title:hover {
  color: var(--text-color);
  opacity: 1;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 5fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
}

.desktop-searchbar {
  background-color: var(--desktop-searchbar-bg);
  border: 0px solid var(--desktop-searchbar-border);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1.5rem;
  padding: 1rem;
  width: 30vw;
  line-height: 1;
}

.div-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.division {
  background-color: #495057;
  height: 2px;
}

.division-title {
  background-color: var(--text-color);
  height: 2px;
  width: 30%;
  margin: 1rem;
}

.header-section {
  display: flex;
}

.item-left {
  border-radius: 15px;
  margin-right: 2rem;
}

.item-right {
  border-radius: 15px;
  margin-left: 2rem;
}

.img-search {
  background-color: var(--desktop-searchbar-bg);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* height: 3.7rem; */
  margin-right: 0;
  margin-bottom: 0;
  padding: 5px;
}

.item-a {
  grid-area: header;
}

.item-b {
  grid-area: main;
}

.item-c {
  grid-area: sidebar;
}

.item-d {
  grid-area: footer;
}

.main-page-content {
  display: flex;
  margin-top: 2rem;
}

.main-content {
  background-color: #343a40;
  margin-left: 1rem;
  padding: 2rem;
  width: 75vw;
}

.navigation-container {
  color: var(--text-color);
  margin: 1rem 1rem 0 1rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.right-nav-img {
  height: 3.7rem;
  width: 3rem;
}

.right-nav-img:hover {
  fill: var(--primary-color);
}

.searchbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem auto 1rem 0.5rem;
}

.title-theme {
  margin-left: 4rem;
}

.title-theme-name {
  color: var(--primary-color);
}

.two-items {
  display: flex;
}

.typography-h2 {
  color: var(--text-color);
}

.user-profile {
  margin-right: 3rem;
}
